a.active {
    color: #8c52ff;
}

.exercise-container.background{
  align-items: center;
  justify-content: center;
  color: #6b7280;
  border: 2px solid #8c52ff;
  border-radius: 30px;
  background-color: #0f081b;
}

@keyframes fadeScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 10s linear infinite;
  }